

#app-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 3em;
}

#content-background {
    width: 85%;
    margin: 3em auto 0 auto;
    padding: 1em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

#page-footer {
    text-align: center;
    font-size: 12px;
    max-width: 95%;
}

.footer-icon {
    margin: 0 4px;
}

@media only screen and (max-width: 770px){
    #content-background {
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        margin: 2em 0;
    }
}